header{
    background-color: cornsilk;
    color: rgb(104, 150, 19);
}
body{
    background-color: azure;
}
.menu-fas{
    font-weight: 700;
    text-align: left;
    list-style: square;
    font-size: 32px;
    font-family:cursive;
    color: crimson;
}
.name{
    text-align: center;
    font-family:cursive;
}
.banner{
    text-align: center;
    color: blue;
    background-color: azure;
    font-size: 32px;
    font-family:cursive;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: azure;
}
h4{
    font-size: 30px;
    text-align: left;
}
.nazvan3{
    font-size: 30px;
}
.link{
    font-size: 32px;
    background-color:gold;
    padding: 10px 70px;
    border-radius: 10px;
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
.card-1{
    padding: 100px;
    margin-top: 25px;
    width: 200px;
    box-shadow: 0px 2px 40px 0px hotpink;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
footer{
    background-color:rgb(156, 255, 156);
    font-size: 30px;
    margin: left 10px; ;
}
.kem{
    color: black;
}
.svyz{
    text-decoration: underline;
    color: darkblue;
}
.ikon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    flex-wrap: wrap;
}
